
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/* Tailwind CSS v4 directives */
@import "tailwindcss";

/*defining custom colors*/
:root {
  --color-primary:#FF7043; 
  --dark-text: #333333;
  --light-bg: #dcd39c; 
  --border-color: #4A4A4A;}

body {
  font-family: 'Architects Daughter', cursive;
  background-color: var(--light-bg);
  color: var(--dark-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}
.sketch-border {
  border: 2px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 2px 2px 0px 0px var(--border-color);
}